<!--_meta 作为公共模版分离出 去-->
<!DOCTYPE HTML>
<html>
<head>
    {include file="common/meta"}
    {include file="common/source"}
    <link href="__STATIC__/lib/webuploader/0.1.5/webuploader.css" rel="stylesheet" type="text/css"/>
    <link href="__STATIC__/lib/layui/2.5.4/css/layui.css" rel="stylesheet" type="text/css"/>

    <title>编辑课程</title>
    <style>
        .layui-btn{
            margin: 0 auto;
            display: block;
        }
        .layui-upload-choose{
            padding: 0;
        }
        .layui-inline{
            display: block;
        }
    </style>
</head>
<body>
<article class="page-container form form-horizontal">
    <input type="hidden" name="is_chapter_video">
    <form action="" method="post" class="form form-horizontal" enctype="multipart/form-data" id="form-admin-per-add">
        <input type="hidden" name="class_id" value="{$class_info.id}">
        <input type="hidden" name="class_pic" value="{$class_info.class_pic}">
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">课程名称：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" name="name" value="{$class_info.name}">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">封面图：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <div id="uploader-demo">
                    <!--用来存放item-->
                    <div id="fileList" class="uploader-list">
                        <div id="WU_FILE_0" class="file-item thumbnail">
                            <img src="{$class_info.class_pic}" alt="" style="width: 100px;">

                        </div>
                    </div>
                    <div id="filePicker">选择图片</div>
                </div>
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">选择分类：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <span class="select-box">
                    <select class="select" name="cate_id" size="1">
                        {foreach $cate_list as $key => $value}
                        <option value="{$value.id}" {if $class_info.cate_id == $value.id} selected {/if}>{$value.cate_name}</option>
                        {/foreach}
                    </select>
                </span>
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">选择标签：</label>
            <div class="formControls col-xs-8 col-sm-9 check-box skin-minimal" id="tag_box">
                {foreach $tag_list as $key => $value}

                <input type="checkbox" name="tag_id[]" value="{$value.id}" {if in_array($value.id,$class_tag_ids)} checked {/if}>&nbsp; {$value.name} &nbsp;
                {/foreach}
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">介绍：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <textarea id="editor" name="desc">{$class_info.desc}</textarea>
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">第几章节前免费：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" name="free_chapter" value="{$class_info.free_chapter}">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">购买所需筑手币：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" name="integral" value="{$class_info.integral}">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">上传课程：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <div id="uploadfile">
                    <div id="thelist" class="uploader-list">
                        <input onclick="add_chapter()" id="add_chapter_button" class="btn btn-secondary radius" type="button" value="添加一行">
                        <p>&nbsp;</p>
                        <table class="table table-border table-bordered table-bg">
                            <tr class="text-c">
                                <th width="5%" class="file-num">章节</th>
                                <th class="file-name">课程名称</th>
                                <th class="file-name">课程视频(限定mp4/flv)</th>
                                <th class="file-num">封面图</th>
                                <th class="file-status">视频状态</th>
                                <th width="20%" class="file-manage">操作</th>
                            </tr>
                            <tbody id="chapter_tbody">
                            {foreach $chapter_info as $key => $value}
                            <tr tr_type="old">
                                <input type="hidden" name="old_chapter_new_pic_base64[{$value.id}]" class="old_chapter_new_pic_base64">
                                <input type="hidden" name="old_chapter_id[]" value="{$value.id}">
                                <input type="hidden" class="old_chapter_pic" name="old_chapter_pic[]" value="{$value.pic}">
                                <input type="hidden" class="chapter_video_url" name="old_chapter_video_url[]" value="{$value.source_url}">
                                <td class="text-c"><input name="old_chapter_num[]" type="text" class="input-text" value="{$value.chapter_num}"></td>
                                <td class="text-c"><input name="old_chapter_title[]" type="text" class="input-text" value="{$value.title}"></td>
                                <td class="text-c chapter_video_td">
                                    <div class="layui-upload">
                                        <button type="button" class="layui-btn layui-btn-normal" id="chapter_video_{$key + 1}">
                                            选择视频
                                        </button>
                                        <input class="layui-upload-file" type="file">
                                        <span class="layui-inline layui-upload-choose"></span>
                                    </div>
                                </td>
                                <td class="text-c chapter_pic_td">
                                    <div class="layui-upload">
                                        <button type="button" class="layui-btn layui-btn-normal" id="chapter_pic_{$key + 1}">
                                            选择图片
                                        </button>
                                        <input class="layui-upload-file" type="file" name="chapter_pic[]">
                                        <span class="layui-inline layui-upload-choose"></span>
                                    </div>
                                </td>
                                <td class="text-c chapter_video_status">
                                    <span style="color:limegreen;">上传成功</span>
                                </td>
                                <td class="text-c">
                                    <a title="删除" href="javascript:;" onclick="remove_chapter(this)" class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe6e2;</i></a>
                                </td>
                            </tr>
                            {/foreach}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="row cl">
            <div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-2">
                <button type="submit" class="btn btn-primary radius" name="admin-role-save"><i class="icon-ok"></i> 提交
                </button>
            </div>
        </div>
    </form>
</article>

<!--_footer 作为公共模版分离出去-->
{include file="common/footer"}
<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="__STATIC__/lib/jquery.validation/1.14.0/jquery.validate.js"></script>
<script type="text/javascript" src="__STATIC__/lib/jquery.validation/1.14.0/validate-methods.js"></script>
<script type="text/javascript" src="__STATIC__/lib/jquery.validation/1.14.0/messages_zh.js"></script>
<script type="text/javascript" src="__STATIC__/lib/webuploader/0.1.5/webuploader.min.js"></script>
<script type="text/javascript" src="__STATIC__/lib/layui/2.5.4/layui.all.js"></script>
<script type="text/javascript" src="__STATIC__/lib/layui/2.5.4/layui.js"></script>
<script type="text/javascript" src="__STATIC__/lib/ueditor/1.4.3/ueditor.config.js"></script>
<script type="text/javascript" src="__STATIC__/lib/ueditor/1.4.3/ueditor.all.min.js"> </script>
<script type="text/javascript" src="__STATIC__/lib/jquery/jquery-migrate-1.2.1.js"> </script>
<script type="text/javascript">
    var chapter_num = {$chapter_count};
    let upload_ok = `<span style="color:limegreen;">上传成功</span>`;
    var upload_wait = '未上传';
    let uploading = `<span style="color:darkorange;">上传中</span>`;
    var video_exts = 'mp4|flv';
    var loading;        //提交动画
    //是否上传视频
    var is_upload = true;
    $(function () {
        var upload;

        //初始化旧数据
        layui.use('upload', function () {
            // $ = layui.jquery
            upload = layui.upload
            for(var i = 1;i <= chapter_num ; i ++){
                //选完文件后不自动上传 图片
                upload.render({
                    elem: '#chapter_pic_'+i
                    , url: '/upload/'
                    , auto: false
                    , accept: 'image'
                    ,field:'old_chapter_pic[]'
                    //,multiple: true
                    , done: function (res) {
                        console.log(res)
                    }
                });

                //选完文件后不自动上传 视频
                upload.render({
                    elem: '#chapter_video_'+i
                    , url: '/upload/'
                    , auto: false
                    , accept: 'video'
                    , exts :video_exts
                    //,multiple: true
                    , done: function (res) {
                        console.log(res)
                    }
                });

                //选择新的视频后  视频状态改变
                $('#chapter_video_'+i).next().change(function(){
                    if (this.files.length == 0){
                        $(this).parents('tr').find('.chapter_video_status').html(upload_ok);
                        $(this).parents('tr').removeClass('is_upload_chapter_video');//识别哪个视频将要上传用
                    } else{
                        $(this).parents('tr').find('.chapter_video_status').html(upload_wait);
                        $(this).parents('tr').addClass('is_upload_chapter_video');//识别哪个视频将要上传用
                    }
                })
                //选择新的封面后 存入
                $('#chapter_pic_'+i).next().change(function(){
                    var myfile = this.files[0];
                    var fileRead = new FileReader();
                    fileRead.readAsDataURL(myfile);
                    var base64_input = $(this).parents('tr').find('.old_chapter_new_pic_base64');
                    fileRead.onload = function(e) {
                        base64_input.val(e.target.result);
                    }
                })
            }
        })
        //添加一行 课程
        add_chapter = function () {
            chapter_num += 1;
            let str = `<tr ty_type="new" class="new_tr">
                                <input type="hidden" name="chapter_video[]" class="chapter_video_url">
                                <td class="text-c"><input name="chapter_num[]" type="text" class="input-text"></td>
                                <td class="text-c"><input name="chapter_title[]" type="text" class="input-text"></td>
                                <td class="text-c chapter_video_td">
                                    <div class="layui-upload">
                                        <button type="button" class="layui-btn layui-btn-normal" id="chapter_video_${chapter_num}">
                                            选择视频
                                        </button>
                                        <input class="layui-upload-file" type="file">
                                        <span class="layui-inline layui-upload-choose"></span>
                                    </div>
                                </td>
                                <td class="text-c chapter_pic_td">
                                    <div class="layui-upload">
                                        <button type="button" class="layui-btn layui-btn-normal" id="chapter_pic_${chapter_num}">
                                            选择图片
                                        </button>
                                        <input class="layui-upload-file" type="file" name="chapter_pic[]">
                                        <span class="layui-inline layui-upload-choose"></span>
                                    </div>
                                </td>
                                <td class="text-c chapter_video_status">未上传</td>
                                <td class="text-c">
                                    <a title="删除" href="javascript:;" onclick="remove_chapter(this)" class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe6e2;</i></a>
                                </td>
                            </tr>`;
            $('#chapter_tbody').append(str);


            //选完文件后不自动上传 图片
            upload.render({
                elem: '#chapter_pic_' + chapter_num
                , url: '/upload/'
                , auto: false
                , accept: 'image'
                ,field:'chapter_pic[]'
                //,multiple: true
                , done: function (res) {
                    console.log(res)
                }
            });
            //选完文件后不自动上传 视频
            upload.render({
                elem: '#chapter_video_' + chapter_num
                , url: '/upload/'
                , auto: false
                , accept: 'video'
                , exts :video_exts
                //,multiple: true
                , done: function (res) {
                    console.log(res)
                }
            });
            //选择新的视频后  视频状态改变
            $('#chapter_video_'+chapter_num).next().change(function(){
                if (this.files.length == 0){
                    $(this).parents('tr').removeClass('is_upload_chapter_video');//识别哪个视频将要上传用
                } else{
                    $(this).parents('tr').addClass('is_upload_chapter_video');//识别哪个视频将要上传用
                }
            })
        }
        //删除一行 课程
        remove_chapter = function (obj){
            if ($('#chapter_tbody tr').length == 1){
                layer.msg('最少拥有一个课程!',{icon:5,time:1000});
            }else{
                $(obj).parents("tr").remove();
                layer.msg('已删除!',{icon:1,time:1000});
            }
        }
        //当旧的课程视频改动时


        $('form').submit(function(){
              loading = layer.msg('提交中', {
                icon: 16
                ,shade: 0.01
                ,time : 0
            });
            //检查是否拥有没有上传视频的课程
            var flag = true;
            //判断新增的课程有没有没上传视频的
            $.each($('.new_tr .chapter_video_td .layui-upload-file'),function(k,filename){
                var FileName = $(filename).val();
                var index1=FileName.lastIndexOf(".");
                var index2=FileName.length;
                var suffix=FileName.substring(index1, index2);//后缀名
                if (!suffix){
                    layer.msg('有新增的课程没有视频!',{icon: 5, time: 1500});
                    flag = false;
                    layer.close(loading);
                    return false;
                }
            })

            if (!flag){return false;}
            $('#add_chapter_button').addClass('btn disabled radius');
            $('.chapter_video_td button').addClass('btn disabled radius');
            if ($('input[name=is_chapter_video]').val().length > 0){
                is_upload = false;
            }
            if (is_upload){
                //改变视频的上传状态
                $('.chapter_video_status').each(function(k,v){
                    if ($(v).html() == upload_wait){
                        $(v).html(uploading);
                    }
                })
                var upload_chapter_video_length = $('.is_upload_chapter_video .chapter_video_td .layui-upload-file').length;
                if (upload_chapter_video_length == 0){
                    form_ajax();
                }
                $.each($('.is_upload_chapter_video .chapter_video_td .layui-upload-file'),function(k,filename){
                    var file = $(filename).val();
                    var index1=file.lastIndexOf(".");
                    var index2=file.length;
                    var suffix=file.substring(index1, index2);//后缀名

                    var save_path = 'video/' + createPic() + suffix;
                    // 获取 policy 和 secret
                    $.getJSON("{:url('/admin/Classes/uploadVideo')}?save_path=" + save_path, function (data) {
                        var uploadData = new FormData();
                        uploadData.append('file',filename.files[0]);
                        uploadData.append('policy', data.policy);
                        uploadData.append('authorization', data.authorization);
                        $.ajax({
                            url:"{:input('server.REQUEST_SCHEME')}://v0.api.upyun.com/archhandcom",
                            type: 'POST',
                            data: uploadData,
                            cache: false,
                            processData: false,
                            contentType: false,
                            xhr : function(){
                                myXhr = $.ajaxSettings.xhr();
                                if(myXhr.upload){ // check if upload property exists
                                    myXhr.upload.addEventListener('progress',function(e){
                                        var loaded = e.loaded;                  //已经上传大小情况
                                        var total = e.total;                      //附件总大小
                                        var percent = Math.floor(100*loaded/total)+"%";     //已经上传的百分比
                                        console.log("已经上传了："+percent);
                                        $(filename).parents('tr').find('.chapter_video_status').html('<div class="progress-bar">' +
                                            '                                        <span class="sr-only" style="float:left;width:'+percent+'"></span>' +
                                            '                                        </div>');
                                    }, false); // for handling the progress of the upload
                                }
                                return myXhr;

                            }
                        }).done(function(data, textStatus) {
                            data = JSON.parse(data);
                            $(filename).parents('tr').find('.chapter_video_status').html("<span style='color:limegreen;'>上传成功</span>");
                            $(filename).parents('tr').find('.chapter_video_url').val(data.url);
                            if (k + 1 === upload_chapter_video_length){
                                setTimeout(function(){
                                    form_ajax();
                                },150);
                            }
                        }).fail(function(res, textStatus, error) {
                            try {
                                var body = JSON.parse(res.responseText);
                                alert('error--: ' + body.message);
                            } catch(e) {
                                console.error(e);
                            }
                            layer.close(loading);
                        });
                    });
                })
            } else{
                form_ajax();
            }
            return false;
        })

        //创建一个随机文件名称
        function createPic(){
            var now=new Date();
            var year = now.getFullYear(); //得到年份
            var month = now.getMonth();//得到月份
            var date = now.getDate();//得到日期
            var hour = now.getHours();//得到小时
            var minu = now.getMinutes();//得到分钟
            month = month + 1;
            if (month < 10) month = "0" + month;
            if (date < 10) date = "0" + date;
            var time = year + month + date+hour+minu;
            return time+"_" + Math.floor(Math.random() * 1000000000 );
        }

        function form_ajax () {

            // 拼接 课程表单
            var result = new FormData($('form')[0]);
            result.delete('file');
            result.delete('old_chapter_pic');
            //请求后端
            $.ajax({
                url: "{:url('/admin/Classes/update')}",
                type: 'post',
                DataType: 'json',
                data: result,
                processData: false,
                contentType: false,
                success: function (data) {
                    layer.close(loading);
                    is_upload = false;
                    if (data.code == 0) {
                        layer.msg(data.msg, {icon: 5, time: 1000});
                    } else {
                        layer.msg('修改成功', {icon: 1, time: 1000}, function () {
                            window.parent.location.reload();
                            var index = parent.layer.getFrameIndex(window.name);
                            parent.layer.close(index);
                        });
                    }
                }
            })
            return false;
        }

        $('select[name=cate_id]').change(function () {
            $.ajax({
                url:"{:url('/admin/Classes_tag_api/getTagForCate')}",
                data:'cate_id=' + $(this).val(),
                type:'post',
                dataType:'json',
                success:function(data){
                    let str =``;
                    $.each(data.data,function(k,v){
                        str += `<input type="checkbox" name="tag_id[]" value="${v.id}">&nbsp; ${v.name} &nbsp;`
                    })

                    $('#tag_box').html(str);
                }
            })
        })

        var uploader  = WebUploader.create({

            // 选完文件后，是否自动上传。
            auto: true,

            // swf文件路径
            swf: '__STATIC__/lib/webuploader/0.1.5/Uploader.swf',


            // 文件接收服务端。
            server: "{:url('/admin/Classes/uploadPic')}",

            // 选择文件的按钮。可选。
            // 内部根据当前运行是创建，可能是input元素，也可能是flash.
            pick: '#filePicker',
            // 只允许选择图片文件。
            accept: {
                title: 'Images',
                extensions: 'gif,jpg,jpeg,bmp,png',
                mimeTypes: 'image/*'
            }
        });
        $list = $("#fileList"),
            $btn = $("#btn-star"),
            state = "pending",
            thumbnailWidth = thumbnailHeight = 100,
            uploader;

        uploader .on( 'fileQueued', function( file ) {
            var $li = $(
                '<div id="' + file.id + '" class="file-item thumbnail">' +
                '<img>' +
                '<div class="info">' + file.name + '</div>' +
                '</div>'
                ),
                $img = $li.find('img');


            // $list为容器jQuery实例
            $list.html( $li );

            // 创建缩略图
            // 如果为非图片文件，可以不用调用此方法。
            // thumbnailWidth x thumbnailHeight 为 100 x 100

            uploader.makeThumb( file, function( error, src ) {
                if ( error ) {
                    $img.replaceWith('<span>不能预览</span>');
                    return;
                }

                $img.attr( 'src', src );
            }, thumbnailWidth, thumbnailHeight );
        });

        //上传成功
        uploader.on('uploadAccept', function (file, response) {
            if (response.code == 1){
                $('input[name=class_pic]').val(response.msg);
            }else{
                layer.msg(response.msg,{icon:5,time:1000});
            }
        });
    })
    $(function(){
        var ue = UE.getEditor('editor');
    })
</script>

<!--/请在上方写此页面业务相关的脚本-->
</body>
</html>