<!--_meta 作为公共模版分离出 去-->
<!DOCTYPE HTML>
<html>
<head>
    {include file="common/meta"}
    {include file="common/source"}
    <link href="__STATIC__/lib/webuploader/0.1.5/webuploader.css" rel="stylesheet" type="text/css" />

    <title>新建板块</title>
</head>
<body>
<article class="page-container">
    <form action="" method="post" class="form form-horizontal" id="form-admin-per-add">
        <input type="hidden" name="plate_img">
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>权限所属节点：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <span class="select-box">
                  <select class="select" size="1" name="cate_id">
                      {foreach $cate_list as $key => $value}
                    <option value="{$value.id}">{$value.cate_name}</option>
                      {/foreach}
                  </select>
                </span>
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>板块封面：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <div id="uploader-demo">
                    <!--用来存放item-->
                    <div id="fileList" class="uploader-list"></div>
                    <div id="filePicker">选择图片</div>
                </div>
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3">板块名称：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text"  name="plate_name">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3">版主手机号：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" placeholder="请按照手机号填写"  name="plate_man_phone">
            </div>
        </div>
        <div class="row cl">
            <div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
                <button type="submit" class="btn btn-success radius" name="admin-role-save"><i class="icon-ok"></i> 确定</button>
            </div>
        </div>
    </form>
</article>

<!--_footer 作为公共模版分离出去-->
{include file="common/footer"}
<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="__STATIC__/lib/My97DatePicker/4.8/WdatePicker.js"></script>
<script type="text/javascript" src="__STATIC__/lib/jquery.validation/1.14.0/jquery.validate.js"></script>
<script type="text/javascript" src="__STATIC__/lib/jquery.validation/1.14.0/validate-methods.js"></script>
<script type="text/javascript" src="__STATIC__/lib/jquery.validation/1.14.0/messages_zh.js"></script>
<script type="text/javascript" src="__STATIC__/lib/webuploader/0.1.5/webuploader.min.js"></script>
<script type="text/javascript" src="__STATIC__/lib/ueditor/1.4.3/ueditor.config.js"></script>
<script type="text/javascript" src="__STATIC__/lib/ueditor/1.4.3/ueditor.all.min.js"> </script>
<script type="text/javascript" src="__STATIC__/lib/ueditor/1.4.3/lang/zh-cn/zh-cn.js"></script>
<script type="text/javascript">
    $(function(){
        $('form').submit(function(){
            var form = document.getElementById('form-admin-per-add');
            var data = new FormData(form);
            $.ajax({
                url:"{:url('/admin/Forum_plate/save')}",
                data:data,
                type:'post',
                dataType:'json',
                contentType:false,
                processData:false,
                success:function(data){
                    if (data.code == 0){
                        layer.msg(data.msg,{icon:5,time:1000});
                    } else {
                        layer.msg('添加成功',{icon:1,time:1000},function(){
                            window.parent.location.reload();
                            var index = parent.layer.getFrameIndex(window.name);
                            parent.layer.close(index);
                        });

                    }
                }
            })
            return false;
        })
    })

    var uploader  = WebUploader.create({

        // 选完文件后，是否自动上传。
        auto: true,

        // swf文件路径
        swf: '__STATIC__/lib/webuploader/0.1.5/Uploader.swf',


        // 文件接收服务端。
        server: "{:url('/admin/Forum_plate/uploadPic')}",

        // 选择文件的按钮。可选。
        // 内部根据当前运行是创建，可能是input元素，也可能是flash.
        pick: '#filePicker',
        // 只允许选择图片文件。
        accept: {
            title: 'Images',
            extensions: 'gif,jpg,jpeg,bmp,png',
            mimeTypes: 'image/*'
        }
    });
    $list = $("#fileList"),
        $btn = $("#btn-star"),
        state = "pending",
        thumbnailWidth = thumbnailHeight = 100,
        uploader;

    uploader .on( 'fileQueued', function( file ) {
        var $li = $(
            '<div id="' + file.id + '" class="file-item thumbnail">' +
            '<img>' +
            '<div class="info">' + file.name + '</div>' +
            '</div>'
            ),
            $img = $li.find('img');


        // $list为容器jQuery实例
        $list.html( $li );

        // 创建缩略图
        // 如果为非图片文件，可以不用调用此方法。
        // thumbnailWidth x thumbnailHeight 为 100 x 100

        uploader.makeThumb( file, function( error, src ) {
            if ( error ) {
                $img.replaceWith('<span>不能预览</span>');
                return;
            }

            $img.attr( 'src', src );
        }, thumbnailWidth, thumbnailHeight );
    });

    //上传成功
    uploader.on('uploadAccept', function (file, response) {
        console.log(response);
        if (response.code == 1){
            $('input[name=plate_img]').val(response.msg);
        }else{
            layer.msg(response.msg,{icon:5,time:1000});
        }
    });
</script>
<!--/请在上方写此页面业务相关的脚本-->
</body>
</html>