<!DOCTYPE HTML>
<html>
<head>
    {include file="common/meta,common/source"}
    <title>课程评论</title>
</head>
<body>
<nav class="breadcrumb">
    <i class="Hui-iconfont">&#xe67f;</i>首页<span class="c-gray en">&gt;</span> 评论管理 <span class="c-gray en">&gt;</span>
    课程评论列表 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px"
            href="javascript:location.replace(location.href);" title="刷新"><i class="Hui-iconfont">&#xe68f;</i></a></nav>
<div class="page-container">


    <div class="mt-20">
        <table class="table table-border table-bordered table-hover table-bg table-sort">
            <thead>
            <tr>
                <th scope="col" colspan="110">课程评论列表</th>
            </tr>
            <tr class="text-c">
                <th width="5%">ID</th>
                <th width="5%">用户</th>
                <!--<th width="10%">评论内容</th>-->
                <th width="10%">发布日期</th>
                <th width="5%">审核</th>
                <th width="10%">操作</th>
            </tr>
            </thead>
            <tbody>

            {foreach $comments as $v}
            <tr class="text-c">
                <td>{$v['id']}</td>
                <td>
                    <a href="javascript:void(0);" onclick="member_show('{$v->user->nickname}','{:url('/admin/User/userShow',['id'=>$v->user_id])}','10001','360','400')">
                        <i class="avatar size-L radius">
                            <img alt="" src="{$v->user->avatar_url?$v->user->avatar_url:'__STATIC__/static/h-ui/images/ucnter/avatar-default-S.gif'}">
                        </i>
                    </a>
                </td>
                <!--<td>{$v['comment']}</td>-->
                <td>{$v->create_time}</td>
                <td>
                    {if condition="$v->getData('status')==0"}
                    <a style="cursor:pointer"
                       class="label label-danger radius"
                       {if $Base->checkPermission('classesComment','verify')}

                        onclick=" verify('{$v->id}','verify')"
                        {/if}
                    >
                    {$v['status']}
                    </a>
                    {elseif condition="$v->getData('status')==1"}
                    <a style="cursor:pointer"
                       class="label label-success radius"
                       {if $Base->checkPermission('classesComment','verify')}
                        onclick=" verify('{$v->id}','verify')"
                        {/if}
                        >
                        {$v['status']}
                    </a>
                    {/if}
                </td>

                <td class="td-manage">
                    <a title="查看" href="javascript:;" onclick="library_comment_show('评论内容','show?id={$v->id}')" class="ml-5"
                       style="text-decoration:none"><i class="Hui-iconfont">&#xe725;</i>
                    </a>
                    {if $Base->checkPermission('classesComment','delete')}

                    <a title="删除" href="javascript:;" onclick="member_del(this,{$v->id})" class="ml-5"
                        style="text-decoration:none"><i class="Hui-iconfont">&#xe6e2;</i>
                    </a>
                    {/if}
                </td>
            </tr>
            {/foreach}

            </tbody>
        </table>
        <div id="AjaxPage" style="text-align:right;">{$comments|raw}</div>
    </div>
</div>

{include file="common/footer"}
<!--_footer 作为公共模版分离出去-->

<script type="text/javascript">

    /*用户-查看*/
    function member_show(title,url,id,w,h){
        layer_show(title,url,w,h);
    }

    /*用户-查看*/
    function library_comment_show(title,url,id,w,h){
        layer_show(title,url,w,h);
    }
    function verify(id,url,sign1='封禁',sign2='正常'){
        $.get(url,{id:id},function(data){
            if(data.code==1){
                var a='<span class="label label-danger">'+data.msg+'</span>'
                $('#zt'+id).html(a);
                layer.msg(data.msg,{icon:2,time:1500,shade: 0.1,});
                // location.replace(location.href);
                window.location.reload();
                return false;
            }else{
                var b='<span class="label label-info">'+data.msg+'</span>'
                $('#zt'+id).html(b);
                layer.msg(data.msg,{icon:1,time:1500,shade: 0.1,});
                // location.replace(location.href);
                window.location.reload();
                return false;
            }
        });
        return false;
    }

    /*用户-删除*/
    function member_del(obj, id) {
        layer.confirm('确认要删除吗？', function (index) {
            $.ajax({
                type: 'POST',
                url: 'delete',
                dataType: 'json',
                data:{'id':id},
                success: function (data) {
                    $(obj).parents("tr").remove();
                    layer.msg('已删除!', {icon: 1, time: 1000});
                },
                error: function (data) {
                    console.log(data.msg);
                },
            });
        });
    }
</script>
</body>
</html>