{extend name="base/base"}

{block name="title"}云库 - {$website_title} {/block}

{block name="source"}
<link href="__STATIC__/css/slick.css" rel="stylesheet" type="text/css">
<link href="__STATIC__/css/slick-theme.css" rel="stylesheet" type="text/css">
<link href="__STATIC__/css/pagination.css" rel="stylesheet" type="text/css">
<script src="__STATIC__/js/slick.js"></script>
<script src="__STATIC__/js/jquery.pagination.js"></script>
<script src="__STATIC__/js/layer/layer.js"></script>
<script src="__STATIC__/js/jquery.pjax.js"></script>


<style>
    body{
        background: #f1f2f4;
    }
    .typecur{
        background-color: rgb(234, 49, 54);
        padding: 5px 10px;
        border-radius: 30px;
        height: 14px!important;
        margin-top: 14px!important;
        margin-bottom: 14px!important;
        line-height: 14px!important;
        color: #fff!important;
    }

</style>
{/block}

{block name="body"}
<!-- banner -->
<input type="hidden" name="store_id" value="1">
<div class="banner_box fz0">
    <img class="banner" src="{$store.store_background}" alt="">
    <div class="ssmk pb10">
        <div class="radius">
            <div class="radius" style="width: 128px;height: 128px; background: #fff;">
                <img src="{$store.store_logo}" alt="" class="shop_avt">
            </div>
        </div>
        <div class="fz18 cf lh40 tac">{$store.store_name}</div>
    </div>
    <div class="bannertext m768hide">
        <div class="main "> </div>
    </div>
</div>

<div class="m768show clearfix">
    <!-- <p class="sstip">搜索精美案例作品</p> -->
    <div class="ssbox">
        <img class="sslogo" src="__STATIC__/images/logo1.png" alt=""><input type="text"  value="{$search}" class="search_input" oninput="syncText(this)" >
        <img class="ssbtn" src="__STATIC__/images/ss_03.png" alt="" onclick="getData()">
    </div>
</div>

<!-- / 分类/ -->

<div class="box1 mb15">
    <div class="boxmain clearfix">
        <div class="{if !$checked_cate || $checked_cate == 0}cur{/if}"data-value="0" onclick="changeCate(this,0)">全部</div>

        {foreach $cate as $key => $value}
        <div class="{if $checked_cate == $value.id}cur{/if}" data-value="{$value.id}" onclick="changeCate(this,'{$value.id}')">{$value.cate_name}</div>
        {/foreach}
    </div>
</div>
<!-- /* inr*/ -->
<div class="class_warpper mb15">
    <div class="w1200 bd bgf" id="attr_list">
        {foreach $attr as $key1 => $value1}
        <div class="class_list">
            <h3 >{$value1.attr_name}：</h3>
            <a href="javascript:void(0);">
                <p class="{if !array_intersect($checked_attr,array_column($value1.attribute_value,'id'))}typecur{/if} clearfix" onclick="changeAttr(this)">全部</p>
            </a>
            {foreach $value1.attribute_value as $key2 => $value2}
            <a href="javascript:void(0);">
                <p class="{if in_array($value2.id,$checked_attr)}typecur {/if} clearfix"  name="attr_value" data-value="{$value2.id}" onclick="changeAttr(this)">{$value2.value}
                </p>
            </a>
            {/foreach}
        </div>
        {/foreach}
    </div>
</div>
<!-- /最新分享/ -->
<div class="box2">
    <div class="inrmain">
        <div class="inrmk1">
            <div class="inrtit">
                <p class="m010" id="filtrate">
                    <span class="m010 cspointer fwb c942c2d" data-value="0" onclick="changeSort(this)">最新</span>
                    <span class="m010 cspointer fwb" data-value="1" onclick="changeSort(this)">原创</span>
                    <span class="m010 cspointer fwb" data-value="2" onclick="changeSort(this)">精华</span>

                    {if session(config('index_user_session_path')) }
                    <span class="yk_fabu cspointer" onclick="javascript:window.location.href='{:url('libraryAdd')}'">发布</span>
                    {/if}
                </p>
            </div>
            <div class="hengxian"></div>
            <div class="inrbox1 box_siz clearfix" id="list_box">
                {if !$library}
                <div class="zanwu">暂无数据</div>
                {else}
                {foreach $library as $key => $value}
                <div class="inr2box">
                    <p><img src="{$value.library_pic}" onclick="window.location.href='{:url('libraryInfo',['library_id'=>$value.id])}'">
                        {if $value.is_official}
                        <a class="hot"></a>
                        {/if}
                    </p>
                    <div>{:mb_substr($value.name,0,16)}</div>
                </div>
                {/foreach}
                {/if}
            </div>
            <div class="tac" id="page_box">
                <div class="m-style M-box3"></div>
            </div>
        </div>
    </div>
</div>
{/block}

{block name="js"}
<script>

    // banner
    $('.single-item').slick({
        dots: true,
        speed: 500,
        arrows: false,
        slidesToShow: 1,
        slidesToScroll: 1,
        autoplay: true,
        autoplaySpeed: 3000
    });
</script>
<script>
    {if $library_count}
    $('.M-box3').pagination({
        totalData:{$library_count},
        showData:{$page_length},
        current:{$page},
        // mode: 'fixed',
        callback: function (api) {
            var page=api.getCurrent()
            getData(page);
        }
    })
    {/if}
        var makeParam = function(page = null){
            var paramStr = '?';
            var search = $('.search_input:eq(0)').val();
            if (search) paramStr += "search="+search+"&";
            var cate_id = $('.boxmain').find('div[class=cur]').data().value;
            if (cate_id) paramStr += "cate="+cate_id+"&";
            var attr_ids = '';
            var filtrate = 0;
            $('p[name=attr_value]').each(function(k,v){
                if ($(v).hasClass('typecur')){
                    attr_ids += $(v).data().value + '-';
                }
            })
            if (attr_ids){
                attr_ids = attr_ids.substring(0, attr_ids.lastIndexOf('-'));
                paramStr += "attr="+attr_ids+"&";
            }

            $('#filtrate span').each(function(k,v){
                if ($(v).hasClass('c942c2d')){
                    filtrate = $(v).data().value;
                }
            })
            paramStr += "filtrate="+filtrate+"&";
            paramStr += "page="+(page ? page : 1)+"&";



            return paramStr.substring(0, paramStr.lastIndexOf('&'));
        }

        var changeAttr = function(_this){
            if ($(_this).hasClass('typecur'))  return false;
            $(_this).parents('.class_list').find('p').each(function(k,v){
                $(v).removeClass('typecur');
            })
            $(_this).addClass('typecur');
            getData()
        }
        var changeCate = function(_this){
            if ($(_this).hasClass('cur'))  return false;
            $(_this).parents('.boxmain').find('div').each(function(k,v){
                $(v).removeClass('cur');
            })
            $(_this).addClass('cur');

            $.ajax({
                url:"{:url('/index/Library/getAttrValues')}",
                type:"post",
                data:{
                    cate_id : $('.boxmain').find('div[class=cur]').data().value,
                },
                dataType:"json",
                success:function(data){
                    if (data.code == 0){
                        layer.msg(data.msg);
                    } else{
                        console.log(data.data);
                        var html = '';
                        $(data.data).each(function(k,v){
                            html += '<div class="class_list">' +
                                '            <h3>'+v.attr_name+'：</h3>' +
                                '            <a href="javascript:void(0);">' +
                                '                <p class="typecur clearfix" onclick="changeAttr(this)">全部</p>\n' +
                                '            </a>';

                            $(v.attribute_value).each(function(k1,v1){
                                html +=     '    <a href="javascript:void(0);">' +
                                    '            <p class="clearfix" name="attr_value" data-value="'+v1.id+'" onclick="changeAttr(this)">'+v1.value+'</p>' +
                                    '            </a>';
                            })


                            html +=    '                    </div>'
                        })
                        $('#attr_list').html(html);
                        getData()
                    }

                }
            })
        }

        var changeSort = function(_this){
            //c942c2d
            if ($(_this).hasClass('c942c2d')) return false;
            $(_this).parents('.m010').find('span').each(function(k,v){
                $(v).removeClass('c942c2d');
            })
            $(_this).addClass('c942c2d');

            getData()
        }
        var getData = function(page = null){
            $.pjax({
                url:"{:url('StoreIndex',['store_id'=>$store.id])}"+makeParam(page),
                container:"#list_box"
            })
        }

        var syncText = function(_this){
            var value = $(_this).val()
            $('.search_input').each(function(k,v){
                $(v).val(value)
            })
        }
</script>
{/block}