<!DOCTYPE HTML>
<html>
<head>
    {include file="common/meta,common/source"}
    <title>基本设置</title>
</head>
<body>
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页
    <span class="c-gray en">&gt;</span>
    网站设置
    <span class="c-gray en">&gt;</span>
    配置管理
    <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px"
       href="javascript:location.replace(location.href);" title="刷新"><i class="Hui-iconfont">&#xe68f;</i></a>
</nav>
<div class="page-container">
    <form class="form form-horizontal" id="form-member-add" method="post" action="save">
        <div id="tab-system" class="HuiTab">
            <div class="tabBar cl">
                <span>基本设置</span>
                <span>右侧导航设置</span>
                <!--<span>底部导航设置</span>-->
            </div>
            <div class="tabCon">
                <div class="row cl">
                    <label class="form-label col-xs-4 col-sm-2">
                        <span class="c-red">*</span>
                        网站标题：</label>
                    <div class="formControls col-xs-8 col-sm-9">
                        <input name="title" type="text" id="title" placeholder="控制在25个字、50个字节以内"
                               value="{$site->title?:null}" class="input-text">
                        <span class="c-999"><i class="Hui-iconfont">&#xe6cd;</i>&nbsp控制在25个字、50个字节以内</span>
                    </div>
                </div>
                <div class="row cl">
                    <label class="form-label col-xs-4 col-sm-2">
                        <span class="c-red">*</span>
                        网站关键字：</label>
                    <div class="formControls col-xs-8 col-sm-9">
                        <textarea name="keyword" id="keyword" class="textarea" placeholder="5个左右,8汉字以内,用英文,隔开">{$site->keyword?:null}</textarea>
                        <span class="c-999"><i class="Hui-iconfont">&#xe6cd;</i>&nbsp5个左右,8汉字以内,用英文,隔开</span>
                    </div>
                </div>
                <div class="row cl">
                    <label class="form-label col-xs-4 col-sm-2">
                        <span class="c-red">*</span>
                        网站描述：</label>
                    <div class="formControls col-xs-8 col-sm-9">
                        <textarea name="description" id="description" class="textarea" placeholder="空制在80个汉字，160个字符以内">{$site->description?:null}</textarea>
                        <span class="c-999"><i class="Hui-iconfont">&#xe6cd;</i>&nbsp空制在80个汉字，160个字符以内</span>
                    </div>
                </div>
                <div class="row cl">
                    <label class="form-label col-xs-4 col-sm-2">备案号：</label>
                    <div class="formControls col-xs-8 col-sm-9">
                        <input name="icp" type="text" id="icp" placeholder="京ICP备00000000号" value="{$site->icp?:null}"
                               class="input-text">
                        <span class="c-999"><i class="Hui-iconfont">&#xe6cd;</i>&nbsp京ICP备00000000号</span>
                    </div>
                </div>
                <div class="row cl">
                    <label class="form-label col-xs-4 col-sm-2">
                        <span class="c-red">*</span>
                        网站公告：</label>
                    <div class="formControls col-xs-8 col-sm-9">
                        <textarea name="announcement" id="announcememt" class="textarea" placeholder="首页公告信息">{$site->announcememt?:null}</textarea>
                        <span class="c-999"><i class="Hui-iconfont">&#xe6cd;</i>&nbsp首页公告信息</span>
                    </div>
                </div>
                <div class="row cl">
                    <label class="form-label col-xs-4 col-sm-2">
                        <span class="c-red">*</span>
                        底部版权信息：</label>
                    <div class="formControls col-xs-8 col-sm-9">
                        <input name="copyright" type="text" id="copyright" placeholder="&copy; 2016 H-ui.net"
                               value="{$site->copyright?:null}" class="input-text">
                        <span class="c-999"><i class="Hui-iconfont">&#xe6cd;</i>&nbsp&copy; 2016 H-ui.net</span>
                    </div>
                </div>
            </div>

            <div class="tabCon">
                <div class="row cl">
                    <label class="form-label col-xs-4 col-sm-2">VIP：</label>
                    <div class="formControls col-xs-8 col-sm-9">
                        <input type="text" class="input-text" value="{$site->vip?:null}" id="vip" name="vip"
                               placeholder="vip">
                        <span class="c-999"><i class="Hui-iconfont">&#xe6cd;</i>&nbspvipvipvip</span>
                    </div>
                </div>
                <div class="row cl">
                    <label class="form-label col-xs-4 col-sm-2">QQ：</label>
                    <div class="formControls col-xs-8 col-sm-9">
                        <input type="text" id="qq" value="{$site->qq?:null}" class="input-text" name="qq"
                               placeholder="QQ号码">
                        <span class="c-999"><i class="Hui-iconfont">&#xe6cd;</i>&nbspQQ号码</span>
                    </div>
                </div>
                <div class="row cl">
                    <label class="form-label col-xs-4 col-sm-2">电话：</label>
                    <div class="formControls col-xs-8 col-sm-9">
                        <input type="text" class="input-text" value="{$site->phone?:null}" id="phone" name="phone"
                               placeholder="手机号码">
                        <span class="c-999"><i class="Hui-iconfont">&#xe6cd;</i>&nbsp手机号码</span>
                    </div>
                </div>

                <div class="row cl">
                    <label class="form-label col-xs-4 col-sm-2">邮箱：</label>
                    <div class="formControls col-xs-8 col-sm-9">
                        <input type="text" id="email" value="{$site->email?:null}" class="input-text" name="email"
                               placeholder="邮箱">
                        <span class="c-999"><i class="Hui-iconfont">&#xe6cd;</i>&nbsp邮箱</span>
                    </div>
                </div>

                <div class="row cl">
                    <label class="form-label col-xs-4 col-sm-2">二维码：</label>
                    <div class="formControls col-xs-8 col-sm-9">
                        <input type="hidden" id="data_photo" name="qr_code" value="{$site->qr_code?:null}">
                        <div id="fileList" class="uploader-list" style=""></div>
                        <div id="imgPicker" style="float:left">选择图片</div>
                        <img id="img_data" height="100px" style="margin-left: 10px;margin-top: 50px;"
                             src="{$site->qr_code?$site->qr_code:'__STATIC__/static/h-ui.admin/images/no_img.jpg'}"/>
                    </div>
                </div>
            </div>

        </div>
        <div class="row cl">
            <div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-2">
                <button class="btn btn-primary radius" type="submit"><i class="Hui-iconfont">&#xe632;</i> 保存</button>
                <button onClick="layer_close();" class="btn btn-default radius" type="button">
                    &nbsp;&nbsp;取消&nbsp;&nbsp;
                </button>
            </div>
        </div>
    </form>
</div>
{include file="common/footer"}

<script type="text/javascript">

    $("#Huifold1").Huifold({
        titCell:'.item h4',
        mainCell:'.item .info',
        type:1,
        trigger:'click',
        className:"selected",
        speed:"first",
    });

    let editor = new Simditor({
        textarea: $('#about,#common,#privacy,#job,#contact'),
        toolbar: ['title', 'bold', 'italic', 'underline', 'strikethrough', 'fontScale', 'color', 'ol', 'ul',
            'blockquote', 'table', 'link', 'image', 'hr', 'indent', 'outdent', 'alignment'],
        upload: {
            url: '/admin/upload/upload',
            params: {'path': 'vip'},
            fileKey: 'file',
            connectionCount: 1,
            leaveConfirm: '正在上传图片请勿关闭此页面'
        },
        placeholder: '',
        imageButton: ['upload'],
    });


    function layer_close() {
        window.location.href = "{:url('config/index')}";
    }

    $(function () {
        $('.skin-minimal input').iCheck({
            checkboxClass: 'icheckbox-blue',
            radioClass: 'iradio-blue',
            increaseArea: '20%'
        });
        $("#tab-system").Huitab({
            index: 0
        });
    });

    var $list = $('#fileList');
    //上传图片,初始化WebUploader
    var uploader = WebUploader.create({

        auto: true,// 选完文件后，是否自动上传。
        swf: '/static/admin/webupload/Uploader.swf',// swf文件路径
        server: "{:url('Upload/uploadUser','path=qr_code')}",// 文件接收服务端。
        duplicate: true,// 重复上传图片，true为可重复false为不可重复
        pick: '#imgPicker',// 选择文件的按钮。可选。

        accept: {
            title: 'Images',
            extensions: 'gif,jpg,jpeg,bmp,png',
            mimeTypes: 'image/jpg,image/jpeg,image/png'
        },

        'onUploadSuccess': function (file, data, response) {
            $("#data_photo").val(data._raw);
            $("#img_data").attr('src', data._raw).show();
        }
    });

    uploader.on('fileQueued', function (file) {
        $list.html('<div id="' + file.id + '" class="item">' +
            '<h4 class="info">' + file.name + '</h4>' +
            '<p class="state">正在上传...</p>' +
            '</div>');
    });

    // 文件上传成功
    uploader.on('uploadSuccess', function (file) {
        $('#' + file.id).find('p.state').text('上传成功！');
    });

    // 文件上传失败，显示上传出错。
    uploader.on('uploadError', function (file) {
        $('#' + file.id).find('p.state').text('上传出错!');
    });


    $(function () {
        $('#form-member-add').ajaxForm({
            //beforeSubmit: checkForm, // 此方法主要是提交前执行的方法，根据需要设置
            success: complete, // 这是提交后的方法
            dataType: 'json'
        });

        function complete(data) {
            // console.log(11)
            if (data.code == 1) {
                layer.msg(data.msg, {icon: 6, time: 1500, shade: 0.1}, function (index) {
                    window.location.href = "{:url('config/index')}";
                });
            } else {
                layer.msg(data.msg, {icon: 5, time: 1500});
                return false;
            }
        }

    });
</script>
<!--/请在上方写此页面业务相关的脚本-->
</body>
</html>