<!-- 页脚 -->
<div class="footer_box">
    <div class="w1200">
        <div class="footer oh">
            <div class=" mb20">
                <a class="c6 fz28" href="{:url('footerIndex')}?page=about">关于我们</a>
                <span class="m05">|</span>
                <a class="c6 fz28" href="{:url('footerIndex')}?page=FAQ">常见问题</a>
                <span class="m05">|</span>
                <a class="c6 fz28" href="{:url('footerIndex')}?page=privacy_policy">隐私政策</a>
                <span class="m05">|</span>
                <a class="c6 fz28" href="{:url('footerIndex')}?page=job">招聘信息</a>
                <span class="m05">|</span>
                <a class="c6 fz28" href="{:url('footerIndex')}?page=contact_us">联系我们</a>
            </div>
            <div class="fz14 c6 ">工信部备案号：{$website_icp} Copyright {$website_copyright}<script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? "https://" : "http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1256596698'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s95.cnzz.com/stat.php%3Fid%3D1256596698%26show%3Dpic' type='text/javascript'%3E%3C/script%3E"));</script>
</div>
        </div>
    </div>
</div>