<meta charset="utf-8">
<meta name="renderer" content="webkit"/>
<meta name="force-rendering" content="webkit"/>
<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1"/>
<!-- <script>/*@cc_on window.location.href="http://support.dmeng.net/upgrade-your-browser.html?referrer="+encodeURIComponent(window.location.href); @*/</script> -->
<meta content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"
      name="viewport">
<meta name="format-detection" content="email=no"/>
<meta name="format-detection" content="telephone=no">
<meta name="keywords" content="{$website_keywords}">
<meta name="description" content="{$website_description}">
<meta name="referrer" content="never">