<link href="__STATIC__/css/reset.css" rel="stylesheet" type="text/css">
<link href="__STATIC__/css/jq22.css" rel="stylesheet" type="text/css">
<link href="__STATIC__/css/weui.min.css" rel="stylesheet" type="text/css">
<link href="__STATIC__/css/jquery-weui.min.css" rel="stylesheet" type="text/css">
<link href="__STATIC__/css/style.css" rel="stylesheet" type="text/css">


<script src="__STATIC__/js/jquery-1.7.2.min.js"></script>
<script src="__STATIC__/js/jquery-latest.min.js"></script>
<script src="__STATIC__/js/jq22.js"></script>
<script src="__STATIC__/js/jquery-weui.min.js"></script>
<script src="__STATIC__/js/layer/layer.js"></script>


<!-- 加载中 -->
