<!--_meta 作为公共模版分离出去-->
<!DOCTYPE HTML>
<html>
<head>
    {include file="common/meta,common/source"}
    <title>{$user?'编辑官方用户':'新增官方用户'}</title>
</head>
<body>
<article class="page-container">
    {if !isset($is_exist)}
    <form action="{$vip?'update':'save'}" method="post" class="form form-horizontal" id="form-member-add">
        <input id="id" name="id" value="{$vip?$vip['id']:0}" type="hidden">
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>VIP名称：</label>
            <div class="formControls col-xs-6 col-sm-9">
                <input type="text" class="input-text" value="{$vip?$vip['vip_name']:null}" placeholder="黄铜"
                       id="vip_name"
                       name="vip_name">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>累计金额：</label>
            <div class="formControls col-xs-6 col-sm-9">
                <input type="text" class="input-text" value="{$vip?$vip['price']:null}" placeholder="200" id="phone"
                       name="price">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>VIP折扣：</label>
            <div class="formControls col-xs-6 col-sm-9">
                <input type="text" class="input-text" value="{$vip?$vip['discount']:null}" placeholder="9.0"
                       id="nickname"
                       name="discount">
            </div>
        </div>

        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>VIP说明：</label>
            <div class="formControls col-xs-6 col-sm-9">
                <textarea id="editor" placeholder="" autofocus name="desc">{if isset($vip)}{$vip['desc']}{/if}</textarea>
            </div>
        </div>


        <div class="row cl">
            <div class="col-xs-8 col-sm-6 col-xs-offset-4 col-sm-offset-6">
                <input class="btn btn-primary radius" type="submit" value="&nbsp;&nbsp;提交&nbsp;&nbsp;">
            </div>
        </div>
    </form>

    {else/}
    <div class="Huialert Huialert-error"><i class="Hui-iconfont">&#xe6a6;</i>{$is_exist}</div>
    {/if}
</article>

<!--_footer 作为公共模版分离出去-->
{include file="common/footer"}

<script type="text/javascript">

    let editor = new Simditor({
        textarea:$('#editor'),
        toolbar:['title','bold','italic','underline','strikethrough','fontScale','color','ol','ul',
            'blockquote','table','link','image','hr','indent','outdent','alignment'],
        upload:{
            url:'/admin/upload/upload',
            params:{'path':'vip'},
            fileKey:'file',
            connectionCount:1,
            leaveConfirm:'正在上传图片请勿关闭此页面'
        },
        placeholder:'',
        imageButton:['upload'],
    });


    $('#birthday').datetimepicker({
        language: "zh-cn",
        format: "yyyy-mm-dd hh:ii",
        autoclose: true
    });

    var $list = $('#fileList');
    //上传图片,初始化WebUploader
    var uploader = WebUploader.create({

        auto: true,// 选完文件后，是否自动上传。
        swf: '/static/admin/webupload/Uploader.swf',// swf文件路径
        server: "{:url('Upload/uploadUser')}",// 文件接收服务端。
        duplicate: true,// 重复上传图片，true为可重复false为不可重复
        pick: '#imgPicker',// 选择文件的按钮。可选。

        accept: {
            title: 'Images',
            extensions: 'gif,jpg,jpeg,bmp,png',
            mimeTypes: 'image/jpg,image/jpeg,image/png'
        },

        'onUploadSuccess': function (file, data, response) {
            $("#data_photo").val(data._raw);
            $("#img_data").attr('src', '/uploads/users/' + data._raw).show();
        }
    });

    uploader.on('fileQueued', function (file) {
        $list.html('<div id="' + file.id + '" class="item">' +
            '<h4 class="info">' + file.name + '</h4>' +
            '<p class="state">正在上传...</p>' +
            '</div>');
    });

    // 文件上传成功
    uploader.on('uploadSuccess', function (file) {
        $('#' + file.id).find('p.state').text('上传成功！');
    });

    // 文件上传失败，显示上传出错。
    uploader.on('uploadError', function (file) {
        $('#' + file.id).find('p.state').text('上传出错!');
    });

    $(function () {


        $('.skin-minimal input').iCheck({
            checkboxClass: 'icheckbox-blue',
            radioClass: 'iradio-blue',
            increaseArea: '20%'
        });


        $(function () {
            $('#form-member-add').ajaxForm({
                //beforeSubmit: checkForm, // 此方法主要是提交前执行的方法，根据需要设置
                success: complete, // 这是提交后的方法
                dataType: 'json'
            });

            function complete(data) {
                console.log(data)
                if (data.code == 1) {
                    layer.msg(data.msg, {icon: 6, time: 1500, shade: 0.1}, function (index) {
                        window.parent.location.reload();
                        var index = parent.layer.getFrameIndex(window.name);
                        parent.layer.close(index);
                    });
                } else {
                    layer.msg(data.msg, {icon: 5, time: 1500});
                    return false;
                }
            }

        });


    });
</script>
<!--/请在上方写此页面业务相关的脚本-->
</body>
</html>