<!--<script type="text/javascript" src="__STATIC__/lib/jquery/1.9.1/jquery.min.js"></script>-->
<!--<script type="text/javascript" src="__STATIC__/lib/simditor-2.3.27/site/assets/scripts/jquery.min.js"></script>-->
<script type="text/javascript" src="__STATIC__/lib/jquery/jquery.min.js"></script>
<!--<script type="text/javascript" src="__STATIC__/lib/jquery/jquery-migrate-1.2.1.js"></script>-->
<script type="text/javascript" src="__STATIC__/lib/layer/2.4/layer.js"></script>
<script type="text/javascript" src="__STATIC__/static/h-ui/js/H-ui.min.js"></script>
<script type="text/javascript" src="__STATIC__/static/h-ui.admin/js/H-ui.admin.js"></script>
<script type="text/javascript" src="__STATIC__/webupload/webuploader.min.js"></script>
<script type="text/javascript" src="__STATIC__/lib/My97DatePicker/4.8/WdatePicker.js"></script>
<script type="text/javascript" src="__STATIC__/lib/simditor-2.3.27/site/assets/scripts/module.js"></script>
<script type="text/javascript" src="__STATIC__/lib/simditor-2.3.27/site/assets/scripts/hotkeys.js"></script>
<script type="text/javascript" src="__STATIC__/lib/simditor-2.3.27/site/assets/scripts/uploader.js"></script>
<script type="text/javascript" src="__STATIC__/lib/simditor-2.3.27/site/assets/scripts/simditor.js"></script>

