<!DOCTYPE HTML>
<html>
<head>
    {include file="common/meta"}
    {include file="common/source"}
    <title>属性管理</title>
</head>
<body>
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 云库管理 <span
        class="c-gray en">&gt;</span> 属性管理 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px"
                                              href="javascript:location.replace(location.href);" title="刷新"><i
        class="Hui-iconfont">&#xe68f;</i></a></nav>
<div class="page-container">

    <div class="cl pd-5 bg-1 bk-gray mt-20">
        <span class="l">
          {if $Base->checkPermission('libraryattribute','save')}
            <a href="javascript:;" onclick="member_add('添加属性','add','','510')" class="btn btn-primary radius">
                <i class="Hui-iconfont">&#xe600;</i> 添加属性
            </a>
            {/if}
        </span>

    </div>
    <div class="mt-20">
        <table class="table table-border table-bordered table-hover table-bg table-sort">
            <thead>
            <tr>
                <th scope="col" colspan="7">属性列表</th>
            </tr>
            <tr class="text-c">
                <th width="50">id</th>
                <th width="80">所属分类</th>
                <th>属性名称</th>
                <th>属性值</th>
                <th width="100">操作</th>
            </tr>
            </thead>
            <tbody>
            {foreach $attr_list as $key => $value}
            <tr class="text-c">
                <td>{$value.id}</td>
                <td>{$value.cate_name}</td>
                <td>{$value.attr_name}</td>
                <td>
                    {foreach $value.attr_values as $key1 => $value1}
                      &nbsp;&nbsp;  {$value1.value}&nbsp;&nbsp;
                    {/foreach}
                </td>
                <td class="td-manage">
                    {if $Base->checkPermission('libraryattribute','update')}

                    <a title="编辑" href="javascript:;" onclick="member_edit('编辑','{:url('/admin/Library_attribute/read',['id'=>$value.id])}','4','','510')"
                       class="ml-5" style="text-decoration:none">
                        <i class="Hui-iconfont">&#xe6df;</i>
                    </a>
                    {/if}
                    {if $Base->checkPermission('libraryattribute','delete')}
                    <a title="删除" href="javascript:;" onclick="member_del(this,'{$value.id}')" class="ml-5"
                       style="text-decoration:none">
                        <i class="Hui-iconfont">&#xe6e2;</i></a>
                    {/if}
                </td>
            </tr>
            {/foreach}
            </tbody>
        </table>
        <div id="AjaxPage" style="text-align:right;">
            {$attr_list->render()|raw}
        </div>
    </div>
</div>
<!--_footer 作为公共模版分离出去-->
<script type="text/javascript" src="__STATIC__/lib/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="__STATIC__/lib/layer/2.4/layer.js"></script>
<script type="text/javascript" src="__STATIC__/static/h-ui/js/H-ui.min.js"></script>
<script type="text/javascript" src="__STATIC__/static/h-ui.admin/js/H-ui.admin.js"></script> <!--/_footer 作为公共模版分离出去-->

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="__STATIC__/lib/My97DatePicker/4.8/WdatePicker.js"></script>
<script type="text/javascript" src="__STATIC__/lib/datatables/1.10.0/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="__STATIC__/lib/laypage/1.2/laypage.js"></script>
<script type="text/javascript" src="__STATIC__/lib/laypage/1.2/laypage.js"></script>
<script type="text/javascript">

    /*用户-添加*/
    function member_add(title, url, w, h) {
        layer_show(title, url, w, h);
    }

    /*用户-编辑*/
    function member_edit(title, url, id, w, h) {
        layer_show(title, url, w, h);
    }


    /*用户-删除*/
    function member_del(obj, id) {
        layer.confirm('确认要删除吗？', function (index) {
            $.ajax({
                type: 'GET',
                url: 'delete',
                data:{'id':id},
                dataType: 'json',
                success: function (data) {
                    if (data.code == 0) {
                        layer.msg(data.msg, {icon: 5, time: 1500});
                        return false;
                    } else {
                        $(obj).parents("tr").remove();
                        layer.msg('已删除!', {icon: 1, time: 1000});
                    }
                },
                error: function (data) {
                    console.log(data.msg);
                },
            });
        });
    }
    //翻页
    function paging(page){
        window.location.href='index?page='+page;
    }
</script>
</body>
</html>





