<!--_meta 作为公共模版分离出 去-->
<!DOCTYPE HTML>
<html>
<head>
    {include file="common/meta"}
    {include file="common/source"}
    <title>添加属性</title>
</head>
<body>
<article class="page-container">
    <form action="" method="post" class="form form-horizontal" id="form-admin-per-add">
        <input type="hidden" name="id" value="{$attr_info.id}">
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3">选择分类：</label>

            <div class="formControls col-xs-8 col-sm-9">
                <span class="select-box">
                  <select class="select" size="1" name="cate_id">
                      {foreach $cate_list as $key => $value}
                    <option value="{$value.id}" {if $attr_info.cate_id == $value.id} selected {/if}>{$value.cate_name}</option>
                      {/foreach}
                  </select>
                </span>
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3">属性名称：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text"  name="attr_name" value="{$attr_info.attr_name}">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>属性值：</label>
            <div class="formControls col-xs-8 col-sm-9">
                {foreach $attr_vals as $key => $value}
                <div>
                    <input type="text" class="input-text" style="width: 30%;margin-bottom: 10px;margin-top: 10px;" value="{$value.value}">
                    <input class="btn btn-danger-outline  size-M radius" value="删除" onclick="delete_one(this,{$value.id})" type="button">
                </div>
                {/foreach}
                <input type="text" name="new_attr_value" class="input-text" style="width:80%;margin-bottom: 10px;margin-top: 10px;" placeholder="新的属性请以中文逗号分割">
            </div>
        </div>
        <div class="row cl">
            <div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
                <button type="submit" class="btn btn-success radius" name="admin-role-save"><i class="icon-ok"></i> 确定</button>
            </div>
        </div>
    </form>
</article>

<!--_footer 作为公共模版分离出去-->
{include file="common/footer"}
<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="__STATIC__/lib/jquery.validation/1.14.0/jquery.validate.js"></script>
<script type="text/javascript" src="__STATIC__/lib/jquery.validation/1.14.0/validate-methods.js"></script>
<script type="text/javascript" src="__STATIC__/lib/jquery.validation/1.14.0/messages_zh.js"></script>
<script type="text/javascript">
    function delete_one(_this,id){
        $.ajax({
            url:"{:url('/admin/Library_attribute/deleteWithAttrValue')}?attr_value_id="+id,
            type:'post',
            dataType:'json',
            processData:false,
            contentType:false,
            success:function(data){
                if (data.code == 0){
                    layer.msg(data.msg);
                } else{
                    $(_this).parent().remove();
                }
            }
        })
        return false;
    }
    $(function(){
        $('form').submit(function(){

            var formData = new FormData(document.getElementById('form-admin-per-add'));
            $.ajax({
                url:"{:url('/admin/Library_attribute/update')}",
                type:'post',
                DataType:'json',
                data:formData,
                processData:false,
                contentType:false,
                success:function(data){
                    if (data.code == 0){
                        layer.msg(data.msg,{icon:5,time:1000});
                    } else {
                        layer.msg('修改成功',{icon:1,time:1000},function(){
                            window.parent.location.reload();
                            var index = parent.layer.getFrameIndex(window.name);
                            parent.layer.close(index);
                        });
                    }
                }
            })
            return false;
        })

    })
</script>
<!--/请在上方写此页面业务相关的脚本-->
</body>
</html>